@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?d3uc9z');
  src:  url('../fonts/icomoon.eot?d3uc9z#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?d3uc9z') format('truetype'),
    url('../fonts/icomoon.woff?d3uc9z') format('woff'),
    url('../fonts/icomoon.svg?d3uc9z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weather-snow:before {
  content: "\e90c";
}
.icon-amazonaws:before {
  content: "\e900";
}
.icon-apache:before {
  content: "\e901";
  color: #d22128;
}
.icon-apachekafka:before {
  content: "\e902";
}
.icon-apachespark:before {
  content: "\e903";
  color: #e25a1c;
}
.icon-bamboo:before {
  content: "\e904";
  color: #0052cc;
}
.icon-git:before {
  content: "\e905";
  color: #f05032;
}
.icon-github:before {
  content: "\e906";
}
.icon-jira:before {
  content: "\e907";
}
.icon-linux:before {
  content: "\e908";
  color: #fcc624;
}
.icon-python:before {
  content: "\e909";
  color: #3776ab;
}
.icon-r:before {
  content: "\e90a";
  color: #276dc3;
}
.icon-scala:before {
  content: "\e90b";
  color: #dc322f;
}
.icon-database:before {
  content: "\e964";
}
